<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">

<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Raleway:400,200,700' rel='stylesheet' type='text/css'>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>  
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>


<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- INSTRUCTIONS -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-32" style="max-width:1000px">

      <h1 class="w3-wide w3-center" style="font-size:40pt">Keyword and #hashtag generator</h1>
      <hr>
      <!-- INSTRUCTIONS AND SUBMIT BUTTON -->
      <div class="w3-panel w3-black w3-content w3-padding-12" style="max-width:1000px">
        <h1 class="w3-wide w3-center">Input ISRC or ytid</h1>
      </div>



    </div>
  </div>

<!-- BEGIN CAMAN JAVASCRIPT -->

<div class="w3-container w3-content w3-center w3-padding-32" style="max-width:1100px" id="band">


  <form class="form-inline" method="POST" action="{{ url_for('results') }}">
  <input type="text" name="searchquery" placeholder="GB1101400818" required><br>
  <input type="radio" name="searchtype" value="isrc" checked>isrc<br>
  <input type="radio" name="searchtype" value="ytid">ytid<br>
  <button type="submit" class="w3-button w3-black">Submit</button>
  </form>



  
<!-- End Page Content -->
</div>




</body>
</html>
